body {
    color: #212121;
    ;
    font-family: 'Roboto',
        sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*Горизонтальне меню*/
.header-page {
    background: #FFFFFF;
    width: 1600px;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}

.logo-header {
    color: #212121;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.link-nav.current {
    color: #2196F3;
    ;
}

.link-nav:hover,
.link-nav:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts .item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts .contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.contacts:hover,
.contacts:focus {
    color: #2196f3;
}

.link-nav,
.contacts,
.btn {
    cursor: pointer;
}

/*Банер*/
.hero {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    background-color: #2F303A;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;


}

.hero .hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196f3;
    color: #FFFFFF;
    font-family: inherit;
}

.hero-button:hover,
.hero-button:focus {}

/*Переваги*/
.section-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.title-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text-benefits {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
}

/*Наша команда*/
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.profession {
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}

/*Футер*/
.footer {
    background-color: #2F303A;
}

.logo-footer {
    color: #FFFFFF;
}

.address {
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    font-style: normal;
}

.footer-contacts {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

/*Основна сторінка Портфоліо*/
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: inherit;
}

.btn:hover,
.btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}

.filter-text {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}